@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2p);

html,
body {
  height: 100%;
  background: rgb(88, 88, 88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-family: "Press Start 2P";
  font-size: 10px;
  margin-left: 20px;
  margin-top: 35px;
  position: absolute;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

label {
  font-size: 14px;
  font-family: "Press Start 2P";
  columns: #d1b464;
  margin-top: 1%;
  margin-bottom: 1%;
}

#form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-family: "Press Start 2P";
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 500%;
  margin-bottom: 2%;
}

input {
  font-family: "Press Start 2P";
  border: 4px #ddd;
  border-style: none solid solid solid;
  height: 6%;
  padding: 1%;
  font-size: 16px;
  margin-bottom: 0.5%;
}

.btnwhite {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  color: #000;
}

button {
  border-radius: 0px;
  font-family: "Press Start 2P";
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  height: 6%;
  font-size: 90%;
}

#color {
  margin-bottom: 1.5%;
  background-color: #fff;
}

.small {
  width: 33%;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#screen {
  border: 3px solid rgb(109, 109, 109);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;

  background: rgb(255, 255, 255);
  width: 800px;
  height: 800px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
